html {
  overflow-y: scroll;
}
img {
  display: block;
  border-radius: 5%;
}

.leagueStats tr{
    cursor: pointer;
    }

.leaguePlayerStats {
  border-collapse: collapse;
  text-align: center;
  margin: 0.25rem;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid lightgray;
  padding: 1rem;
}

#homeStats {
  border-collapse: collapse;
  text-align: center;
  padding: 1rem;
}

.key{
  background-color: white;
  width: auto;
  margin: 0 auto;
  text-align: left;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.key h4{
  text-align: center;
}

.keyDot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.3rem;
  margin-top: auto;
  margin-bottom: auto;
}

.home{
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1rem;
  background-color: white;
  margin: 0 auto;
}

#homeStats th,
#homeStats td {
  padding: 8px;

}

#homeStats th {
  background-color: rgb(000, 32, 96);
  color: white;
}

#homeStats tr {
  height: 1rem;
}

#homeStats tr:nth-child(1) {
  background-color: #F5E446;

}

#homeStats tr:nth-child(1):hover {
  filter: brightness(85%);
}

#homeStats tr:nth-child(2):hover {
  filter: brightness(85%);
}

#homeStats tr:nth-child(3):hover {
  filter: brightness(85%);
}

#homeStats tr:nth-child(4):hover {
  filter: brightness(85%);
}

#homeStats tr:nth-child(5):hover {
  filter: brightness(85%);
}

#homeStats tr:nth-child(6):hover {
  filter: brightness(85%);
}

#homeStats tr:nth-child(7):hover {
  filter: brightness(85%);
}

#homeStats tr:nth-child(8):hover {
  filter: brightness(85%);
}

#homeStats tr:nth-child(9):hover {
  filter: brightness(85%);
}

#homeStats tr:nth-child(10):hover {
  filter: brightness(85%);
}

#homeStats tr:nth-child(11):hover {
  filter: brightness(85%);
}

#homeStats tr:nth-child(12):hover {
  filter: brightness(85%);
}

#homeStats tr:nth-child(2) {
  background-color: #DCF0F4;
}

#homeStats tr:nth-child(3) {
  background-color: #F0D0B2;
}

#homeStats tr:nth-child(4) {
  background-color: #E9CFB7;
}

#homeStats tr:nth-child(5) {
  background-color: #F0D0B2;
}

#homeStats tr:nth-child(6) {
  background-color: #E9E9E9;
}

#homeStats tr:nth-child(7) {
  background-color: #F4F4F4;
}

#homeStats tr:nth-child(8) {
  background-color: #E9E9E9;
}

#homeStats tr:nth-child(9) {
  background-color: #F4F4F4;
}

#homeStats tr:nth-child(10) {
  background-color: #E9E9E9;
}

#homeStats tr:nth-child(11) {
  background-color: #FFAD61;
}

#homeStats tr:nth-child(12) {
  background-color: #F1ADAD;
}

#root {
  position: relative;
  min-height: 100vh;
  background-image: url(images/homebg.jpg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.searchImage {
  max-height: 80px;
}


#playerSelection,
#teamSelection {
  background-color: #fff;
  position: absolute;
  z-index: 555;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 101px;
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 703px;
  max-width: 703px;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);

}

/* Scrollbar width */
#playerSelection::-webkit-scrollbar,
#teamSelection::-webkit-scrollbar {
  width: 10px;
  z-index: 999;
}

#playerSelection:hover,
#teamSelection:hover {
  overflow-y: overlay;
}

/* Scrollbar background colour */
#playerSelection::-webkit-scrollbar-track,
#teamSelection::-webkit-scrollbar-track {
  background: rgba(211, 211, 211, 0.7);
}

/* Scroller thumb colour and shape, border makes it look spaced from the sides */
#playerSelection::-webkit-scrollbar-thumb,
#teamSelection::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
}


#playerBio {
  display: none;
  background-color: #cccccc;
  margin-left: 100px;
  margin-right: 100px;
}

.hoverRows:hover {
  background-color: lightblue;
}

.teamPageImage {
  width: 100%;
  z-index: 0;
  height: 350px;
  object-fit: cover;
  object-position: 100% -100px;
}

.searchBarArea {
  background-color: lightgray;
  gap: 2rem;
  padding: 1rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.searchBarAreaManager {
  background-color: lightgray;
  gap: 2rem;
  padding: 1rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.playerSection {
  margin: 0 auto;
  display: none;
  flex-direction: column;
  background-color: white;
  width: 70%;
  z-index: 2;
 
}

.aboutContent{
  margin: 0 auto;
  min-height: 100%;
  flex-direction: column;
  background-color: white;
  width: 80%;
  padding: 2rem;
}

.aboutContent p{
  font-size: 1.25rem;
}

.aboutContent img{
  max-width: 400px;
  height: auto;
  margin: 1rem auto;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.aboutContent h1{
  font-size: 2rem;
}

.aboutContent hr{
  margin: 1rem auto;
  width: 60%;
}

.playerInfoSection {
  margin: 0 auto;
  margin-bottom: 1rem;
  display: none;
  flex-direction: column;
  background-color: white;
  width: auto;
  z-index: 2;
  width: auto;
  max-width: 60%;
}

#playerBio {
  display: none;
}

#message {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 5rem;
}

.teamInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 100%;
}

.bioRowBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  flex-basis: 0;
  flex-grow: 1;
}

.bioRowBox img {
  object-fit: contain;
  width: auto;
  height: auto;
  max-width: 40%;
  max-height: 60%;
  border-radius: 3%;
  margin: auto;
}

.imageBorder {
  border: 2px lightgray solid;
}

.teamStats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: white;
  margin: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
}

.playerStatsSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: white;
  margin: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
}

.rowBox {
  display: flex;
  flex-direction: row;
  flex-basis: 0;
  flex-grow: 1;
}

.alignTop {
  align-items: flex-start;
  justify-content: flex-start;
}

.alignCenter {
  align-items: center;
  justify-content: center;
}

.alignCenterTop {
  align-items: flex-start;
  justify-content: center;
}

.minWidth250 {
  min-width: 250px;
}

.rowBox img {
  object-fit: cover;
  margin: 1rem;
}

.player{
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.playerProfileImage {
  width: 250px;
  height: 250px;
  border-radius: 6%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.rowBox th {
  background-color: white;
}

.colBox th {
  background-color: rgb(000, 32, 96);
  color: white;
}

.playerTable {
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.playerTable th {
  color: white;
  background-color: rgb(000, 32, 96);
  padding: 0;
  margin: 0 auto;
}

.playerTable tr {
  background-color: white;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.playerTable tbody tr:hover td,
.playerTable tbody tr:hover th,
.playerTable tbody tr:focus td,
.playerTable tbody tr:focus th {
  background-color: #ccc;
  cursor: pointer;
}

.playerTable td {
  padding: 0;
  overflow: hidden;
}

#teamCell {
  cursor: pointer;
}


.teamBio img {
  object-fit: contain;
  min-width: 30%;
  min-height: 90%;

}

.statsBox {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin: 0;
}

.playerStatsBox{
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin: 0;
}

.colBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-basis: 0;
  flex-grow: 1;
}

.rowBox table {
  text-align: left;
  margin: 0 auto;
  width: 100%;
}

.rowBox th,
.rowBox td {
  border: none;
}

.teamStatsSection {
  background-color: lightgray;
  margin: 0 auto;
}

.teamPlayersSection {
  background-color: lightgray;
  width: 100%;
}

.teamGamePrediction {
  background-color: gray;
}

.nlgBox {
  background-color: white;
  border: darkgrey 1px solid;
  padding: 2rem 2rem;
  width: 60%;
  margin: 0.5rem auto;
  font-style: italic;
  border-radius: 5px;
}

.playerNLG {
  background-color: white;
  padding: 0.8em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html {
  font-family: Arial;
}

body {
  margin: auto;
  padding: 0;
}

main {
  margin: auto;
}

header {
  padding: 2rem;
}


h1,
h2,
h3 {
  margin-bottom: 1rem;
  text-align: center;

}


small {
  text-align: center;
  margin: 1rem auto;
}

#tablecontainer {
  max-height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  width: 100%;
  margin-top: 1rem;
}

/* Positions table tightly inside container */
table.sortable {
  top: 0;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

table.scrolldown tbody {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.Players {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  height: 100%;
  padding-bottom: 2rem;
}

.formationSelect{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 20px;
  right: 20px;
  width: auto;
  height: 3rem;
  font-size: 2rem;
  opacity: 0.95;
  color: white;
  background-color: rgb(000, 32, 96);
  border: 1px solid white;
  border-radius: 2%;
}

.formationSelect option{
  opacity: 0.9;
  color: white;
  background-color: rgb(000, 32, 96);
  font-size: 2rem;
}
/* Scrollbar width */
#tablecontainer::-webkit-scrollbar {
  margin-left: 1rem;
  width: 12px;
}

/* Scrollbar background colour */
#tablecontainer::-webkit-scrollbar-track {
  background: rgba(211, 211, 211, 1);
}

/* Scroller thumb colour and shape, border makes it look spaced from the sides */
#tablecontainer::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid rgba(211, 211, 211, 1);
}

.photo {
  margin: 0;
  padding: 0;
}

.photo img {
  margin: 0;
  padding: 0;
}

table.sortable thead tr {
  background-color: rgb(000, 32, 96);
  color: #ffffff;
  text-align: center;
}

thead {
  top: 0;
}

table.sortable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table.sortable tbody tr:last-of-type {
  border-bottom: 2px solid rgb(000, 32, 96);
}

.sortable th {
  cursor: pointer;
}

.sortable th.no-sort {
  pointer-events: none;
}

.sortable th.dir-d::after {
  content: "▾";
}

.sortable th.dir-u::after {
  content: "▴";
}

.sortable th.indicator-left::after {
  content: "";
}

.sortable th.indicator-left::before {
  margin-right: 3px;
  content: "▸";
}

.sortable th.indicator-left.dir-d::before {
  content: "▾";
}

.sortable th.indicator-left.dir-u::before {
  content: "▴";
}

select {
  margin-top: 1rem;
}

.searchBarContainer {
  width: 802px;
  box-sizing: border-box;
  position: relative;
  margin: auto;
}

.searchBar {
  width: 802px;
  height: 51px;
  box-sizing: border-box;
  position: relative;
  top: 0;
  border-radius: 8px;
}

.searchBarInput {
  position: absolute;
  width: 701px;
  height: 51px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-sizing: border-box;
  padding: 0 8px;
  font-size: 30px;
  outline: none;

}

.iconSearchContainer {
  background: #c0c2c0;
  position: absolute;
  width: 101px;
  height: 51px;
  box-sizing: border-box;
  left: 701px;
  border: none;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

}

.iconSearchContainer:hover {
  background: rgb(0, 32, 96);
  color: white;
  cursor: pointer;

}

#searchIconStyle {
  width: 30%;
  border: none;
}



.iconSearchContainer:hover #searchIconStyle {
  fill: white;
}

.playerSearch-Section {
  position: relative;
  width: 100%;

}

.results-section {
  overflow-y: auto;
  max-height: 410px;
  margin-right: 350px;
  margin-left: 350px;

}

/* Scrollbar width */
.results-section::-webkit-scrollbar {
  width: 12px;
}

/* Scrollbar background colour */
.results-section::-webkit-scrollbar-track {
  background: rgba(211, 211, 211, 1);
}

/* Scroller thumb colour and shape, border makes it look spaced from the sides */
.results-section::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid rgba(211, 211, 211, 1);
}

.player-results-card {
  display: flex;
  position: relative;
  justify-content: center;
}

.liEls {
  width: 100%;
  height: 150px;
  display: flex;
  border-radius: inherit;
  cursor: pointer;
}

.liEls:hover {
  background: rgba(207, 208, 209, 0.3);
}

.liEls img {
  margin-left: 10px;
  border-radius: 50%;
  width: 150px;
  height: 100%;
}

.HeaderBox {
  width: 50%;
  display: flex;
  align-content: left;
  justify-content: left;
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding: 15px;
  border-left-style: solid;
  border-left-color: rgb(000, 32, 96);
}

.playerName {
  margin: 0;
  font-size: 25px
}

.playerTeam {
  font-size: 20px;
  margin-top: auto;
  font-weight: 600;

}

.statistics {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-left-style: solid;
  border-left-color: rgb(000, 32, 96);
}

.matchesPlayed {
  bottom: 10px;
}

.matchesPlayed>p {
  position: relative;
  text-align: center;
  font-size: large;
  margin-top: 30px;
}

.matchesPlayed>h5 {
  font-size: large;
}

.playerAge {
  bottom: 10px;
}

.playerAge>p {
  position: relative;
  text-align: center;
  font-size: large;
  margin-top: 30px;
}

.playerAge>h5 {
  font-size: large;
}

.playerPosition {
  bottom: 10px;
}

.playerPosition>p {
  position: relative;
  text-align: center;
  font-size: large;
  margin-top: 30px;
}

.playerPosition>h5 {
  font-size: large;
}

.fadeout {
  display: block;
  position: absolute;
  cursor: pointer;
  box-sizing: border;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 50px;
  background: -webkit-linear-gradient(rgba(237, 239, 240, 0) 42px, #ffffff 48px);
  transition: background 150ms ease-in;
}

.rating {
  margin: 0;
  font-size: 13px;
  height: 15px;
}

.hideResults {
  display: none;
}

.Player {
  margin: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Ranking {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

}

.backgroundImage {
  position: relative;
  width: 100%;
  padding: 0;
  height: 350px;
}

.backgroundImage img, table img{
  border-radius: 0%;
}

.backgroundOverlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: rgba(000, 000, 000, 0.4);
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.pageHeaderBox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 30%;
  margin: auto;
  height: 30%;
  background-color: rgba(000, 32, 96, 0.7);
  padding-top: 1rem;
  z-index: 2;
  vertical-align: middle;
}

.pageHeaderBox h1 {
  font-size: 3rem;
  color: white;
}

.backgroundCover {
  width: 100%;
  padding: 0;
  height: 350px;
  background-color: black;
  opacity: 0.5;
}

.rankingImage {
  width: 100%;
  height: 800px;
}

.rankingMain {
  position: relative;
  width: 100%;
}

.componentTabSection {
  position: relative;
  width: 80%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;

}

.CompareSection {
  position: relative;
  margin-top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.CardSections {
  display: flex;
  flex-direction: row;
  border-top: solid;
  border-top-width: 2px;
  width: 100%;
  height: 100%;
}

.CardSection1 {
  display: flex;
  width: 50%;
  background-color: #c0c2c0;
  padding-bottom: 25%;
  padding-top: 25%;
  flex: 1 1 auto;
}

.CardSection1>p {
  margin: auto;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
}

.CardSection1:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.CardSection1WithBasket {
  display: flex;
  width: 50%;
  background-color: #ffffff;
  border-right-style: solid;
  border-right-color: #ffffff;
  flex: 1 1 auto;
}


.CardSection2 {
  display: flex;
  width: 50%;
  background-color: #c0c2c0;
  border-left-color: #ffffff;
  border-left-style: solid;
  padding-bottom: 25%;
  padding-top: 25%;
  justify-content: center;
  flex: 1 1 auto;
}

.CardSection2:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.CardSection2>p {
  margin: auto;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
}

.CardSection2WithBasket {
  display: flex;
  width: 50%;
  background-color: #ffffff;
  border-left-style: solid;
  border-left-color: #ffffff;
  margin-left: 5px;
  flex: 1 1 auto;
}


.basket1 {
  position: absolute;
  width: 100%;

}

.basket1>p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  text-align: center;
}

.basket2 {
  position: relative;
  width: 100%;

}

.basket2>p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  text-align: center;
}

.CardSectionCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 25px;
  border-style: solid;
  border-color: #ebebeb;
  overflow: hidden;
  transition: transform .5s;
  flex: 1 1 auto;
}


.CardSectionCard:hover,
.CardSectionCard:focus {
  transform: scale3d(1.006, 1.006, 1);
  box-shadow: 0 2px 4px 0  rgb(0, 32, 96), 0 2px 10px 0  rgb(0, 32, 96);
}



#buttonCard {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  margin-top: auto;
}

.learn-more {
  width: 12rem;
  height: auto;
}

.circle {
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.65,0,.076,1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: rgb(0, 32, 96);
  border-radius: 1.625rem;
}

.button-text{
  transition: 0.9s;
  transition-timing-function: cubic-bezier(0.65,0,.076,1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: black;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;

}

.icon {
  transition: 0.9s;
  transition-timing-function: cubic-bezier(0.65,0,.076,1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
}

.arrow{
  transition: 0.9s;
  transition-timing-function: cubic-bezier(0.65,0,.076,1);
  left: -1.325rem;
  width: 1.15rem;
  height: 0.125rem;
  bottom: 0;
  top: 0;
  background: none;
}

.arrow::before{

  position: absolute;
  content: '';
  top: -0.265rem;
  right: -0.06rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
  z-index: 20;
}

#buttonCard:hover .circle {
  width: 100%;
}

#buttonCard:hover .button-text{
  color: white;
}

#buttonCard:hover .arrow{
  background: white;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 20;
  transform: translate(1rem, 0);

  background: white;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 20;
  transform: translate(10rem, 0);
}

.CardSectionHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom-style: solid;
  border-color: #ebebeb;
}

.CardSectionImgContainer {
  width: 45%;
  padding: 2px;
  display: flex;
  border-right-style: solid;
  border-right-width: 5px;
  border-color: #ebebeb;
}

.CardSectionImg {
  width: 100%;
  border-radius: 25px;
}

.CardSectionInformation {
  display: flex;
  position: relative;
  padding: 2px;
  flex-direction: column;
  margin-left: 15px;
  justify-content: space-between;
}

.CardSectionNameInformation {
  display: inline-block;
  justify-content: left;
  font-size: xx-large;
}

#CardSectionInfoH1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  margin: 0;
  margin-right: 5px;
}

.PlayerCardTeamInformation {
  display: inline-flex;
  float: left;
  flex-wrap: nowrap;
  justify-content: start;
  white-space: normal;
  margin-top: 5px;
}

.PlayerCardTeamInformation>p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.TeamGroundInformation {
  display: inline-flex;
  float: left;
  flex-wrap: nowrap;
  justify-content: start;
  white-space: normal;
  margin-top: 5px;
}

.TeamGroundInformation>p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.PlayerCardAgeInformation {
  display: inline-flex;
  float: left;
  flex-wrap: nowrap;
  justify-content: start;
  white-space: normal;
  margin-top: 5px;
}

.PlayerCardAgeInformation>p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.TeamSeasonInformation {
  display: inline-flex;
  float: left;
  flex-wrap: nowrap;
  justify-content: start;
  white-space: normal;
  margin-top: 5px;
}

.TeamSeasonInformation>p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.CardMatchesInformation {
  display: inline-flex;
  float: left;
  flex-wrap: nowrap;
  justify-content: start;
  white-space: normal;
  margin-top: 5px;

}

.CardMatchesInformation>p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.PlayerCardPositionInformation {
  display: inline-flex;
  float: left;
  flex-wrap: nowrap;
  justify-content: start;
  white-space: normal;
  margin-top: 5px;

}

.PlayerCardPositionInformation>p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.TeamPointsInformation {
  display: inline-flex;
  float: left;
  flex-wrap: nowrap;
  justify-content: start;
  white-space: normal;
  margin-top: 5px;

}

.TeamPointsInformation>p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}

.CardSectionStatistics {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 65%;
  width: 100%;
  margin-top: 5px;
  justify-content: space-around;
}

.CardSectionTeamStatistics{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 65%;
  width: 100%;
  margin-top: 5px;
}

.HomeStatsCharts{
  position: relative;
  display: flex;
  width: 100%;
  height: 33%;
  justify-content: center;
  padding-bottom: 10px;
}

.AwayStatsCharts{
  position: relative;
  display: flex;
  width: 100%;
  height: 33%;
  justify-content: center;
  padding-bottom: 10px;
}

.H2Hresults{
  display: flex;
  flex-direction: row;
  padding: 0 2px;
  width: 100%;
  justify-content: center;
  height: 100px;
}

#resultsH2H{
  display: flex;
  margin: auto;
}


.Doughnuts {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
  justify-content: center;
}

.DoughnutHide {
  display: none;
}

.Doughnut1 {
  flex-basis: 0;
  flex-grow: 1;
}

.Doughnut1 > canvas{
  margin: auto;
}

.Doughnut2 {
  flex-basis: 0;
  flex-grow: 1;
}

.Doughnut2 > canvas{
  margin: auto;
}

.Doughnut3 {
  flex-basis: 0;
  flex-grow: 1;
}

.Doughnut3 > canvas{
  margin: auto;
}

.Rating {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  margin-top: 70px;
  font-size: 60px;
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s;
  margin-top: 50px;
  margin-bottom: 50px;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: rgba(000, 32, 96, 1);
  color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide {
  min-width: calc(33.33% - 1rem);
  height: 100%;
  flex: auto;
  border: 1px lightgrey dotted;
  margin: 0 0.5rem;
}

.last5Box{
  display: flex;
  flex-direction: row;
  padding: 0 2px;
  width: 100%;
}

.winBox{
  background-color: green;
}

.drawBox{
  background-color: orange;
}

.loseBox{
  background-color: red;
}

.resultBox{
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border: 1px solid black;
  margin: 0 0.1rem;
  border-radius: 20%;
  font-size: 0.8rem;
  padding: 0.4rem;
  min-width: 26.75px;
}

.topPlayerCircle{
  background-color: rgb(000, 32, 96);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 7px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  font-size: xx-large;
}

.topPlayerCircle:hover {
  background-color: rgb(0, 24,72);
}

.topPlayerCircleP{
    background-color: rgb(000, 32, 96);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 7px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    font-size: xx-large;
    margin: auto;
}

.topPlayerCircleP:hover {
  background-color: rgb(0, 24,72);
  cursor: default;
}

.link{
  margin-bottom: 0;
  cursor: pointer;
}

.link:hover{
  color: rgb(67, 75, 147);
}

.react-multiple-carousel__arrow--left{
  left: 0 !important;
  background-color: rgb(000, 32, 96) !important;
  opacity: 0.5 !important;
}

.react-multiple-carousel__arrow--right{
  right: 0 !important;
  background-color: rgb(000, 32, 96) !important;
  opacity: 0.5 !important;
}

.react-multiple-carousel__arrow--left:hover, .react-multiple-carousel__arrow--right:hover{
  opacity: 1 !important;
}

.backgroundImageRanking {
  position: relative;
  width: 100%;
  padding: 0;
  height: 30px;
}

.CardSectionTableRank{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.CardSectionTableRank > h2 {
  font-size: x-large;
  padding-right: 10px;
}

.CardSectionTableRank > p {
  font-size: x-large;
}

.DoughnutOne{
  height: 100%;
  width: 33%;
  margin: auto;
}

.DoughnutTwo{
  height: 100%;
  width: 33%;
  margin: auto;
}

.DoughnutThree{
  height: 100%;
  width: 33%;
  margin: auto;
}

.playerStats{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
}

.playerStatsImg{
  display: flex;
  flex-direction: row;
  flex-basis: 0;
  flex-grow: 1;
  padding: auto;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
}

.playerStatsImg > ul {
  list-style: none;
  padding: 0 1rem;
}

.playerStatsImg > ul > li{
  margin: auto;
  text-align: left;
  font-size: xx-large;
  white-space: nowrap;
}

.playerStatsImg > ul > li>h2{
  text-align: left;
  margin: auto;
  font-size: xx-large;
}

.playerStatsImg > ul > li>p{
  text-align: left;
  margin: auto;
  margin-left: 10px;
  font-size: 25px;
  font-size: xx-large;
  padding-left: 10px;
}

.playerStatsBox > div > p {
  font-size: x-large;
}
.playerStatTeamLogo{
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
}

.playerStatTeamLogo > h2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  font-size: xx-large;
}

.playerStatsTeamImg{
  margin-top: 10px;
  width: 100px;
  padding-left: 10px;
}

.playerStatsProfImg{
  width: auto;
  height: auto;
}

.playerStatsProfImg img {
  width: 230px;
  height: 230px;
  border-radius: 0;
}

.playerStatsCircles{
  display: flex;
  padding: 30px;
  justify-content: center;
  width: 100%;
}

.playerStatsCircles > div >h2 {
  font-size: x-large;
}

.Pies{
  position: relative;
  width: 100%;
  display: flex;
  flex: 1 1 0;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
}

.Pie1 {
  width: 200px !important;
  height: 200px !important;
  margin: auto;
}


.Pie2 {
  width: 200px !important;
  height: 200px !important;
  margin: auto;
}
.Pie3 {
  width: 200px !important;
  height: 200px !important;
  margin: auto;
}

.Pie4 {
  width: 200px !important;
  height: 200px !important;
  margin: auto;
}

.pitch{
  margin: 1rem auto;
}

.pitch small {
  position: absolute;
  top: 0.5%;
  left: 0.5%;
}

.toolTip{
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.toolTipText{
  visibility: hidden;
  width: 110%;
  background-color: rgba(000, 32, 96, 0.9);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.25rem;
  position: absolute;
  z-index: 50;
  bottom: 110%;
  left: 0%;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.75rem;
  font-weight: normal;
}

.toolTipText::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(000, 32, 96, 0.7) transparent transparent transparent;
}

.toolTipText::before{
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: rgba(000, 32, 96, 0.7) transparent transparent transparent;
}

.toolTip:hover .toolTipText {
  visibility: visible;
  opacity: 1;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    cursor: pointer;
    transition: 0.25s all ease-in-out;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    cursor: pointer;
    transition: 0.25s all ease-in-out;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    cursor: pointer;
    transition: 0.25s all ease-in-out;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
    cursor: pointer;
    transition: 0.25s all ease-in-out;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}