html{
    overflow-y: scroll;
}

#root{
    position: relative;
    min-height: 100vh;
    padding-bottom: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#playerSelection {
  background-color: #cccccc;
  margin-left: 100px;
  margin-right: 100px;
  display: none;

}

#playerBio {
  display: none;
  background-color: #cccccc;
  margin-left: 100px;
  margin-right: 100px;
}

.hoverRows:hover {
  background-color: lightblue;
}

.teamPageImage {
  width: 100%;
  z-index: 0;
  height: 350px;
  object-fit: cover;
  object-position: 100% -100px;
}

.searchBarArea {
  background-color: lightgray;
  gap: 2rem;
  padding: 1rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.searchBarAreaManager {
  background-color: lightgray;
  gap: 2rem;
  padding: 1rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.playerSection {
  margin: 0 auto;
  display: none;
  flex-direction: column;
  background-color: white;
  width: 70%;
  z-index: 2;
}

#message {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 5rem;
}

.teamInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  width: 100%;
}

.teamStats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: lightgray;
  margin: 0;
  width: 100%;
}


.teamBio {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0rem;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid lightgray;
  padding: 1rem;
}

.rowBox {
  display: flex;
  flex-direction: row;
}

.teamBio img {
  object-fit: contain;
  min-width: 30%;
  min-height: 90%;

}

.groundsBio {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid lightgray;
  padding: 1rem;
}

.groundsBio img {
  width: 40%;
  border-radius: 3%;
  border: 2px lightgray solid;
}

.statsBox {
  display: flex;
  flex-basis: 33.333%;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid lightgray;
  padding: 1rem;
  margin: 0;
}

.colBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  border: 1px solid lightgray;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding-top: 1rem;
}


.rowBox table {
  text-align: left;
  margin: 1rem 1rem;
}

.rowBox th,
.rowBox td {
  border: none;
}


.teamStatsSection {
  background-color: lightgray;
  margin: 0 auto;
}

.teamPlayersSection {
  background-color: lightgray;
  width: 100%;
}

.teamGamePrediction {
  background-color: gray;
}

.teamNLG {
  background-color: gray;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html {
  font-family: Arial;
}

body {
  margin: auto;
  padding: 0;
}

main {
  margin: auto;
}

header {
  padding: 2rem;
}


h1,
h2,
h3{
  margin: 0 auto;
  text-align: center;
  
}
tbody{
  background-image: url(images/banner\ background.jpg);
  background-repeat: no-repeat;
  width: auto;
}



small {
  text-align: center;
  margin: 1rem auto;
}

#tablecontainer {
  max-height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  width: 100%;
  margin-top: 1rem;
}

/* Positions table tightly inside container */
table.sortable {
  position: sticky;
  top: 0;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

table.scrolldown tbody {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Scrollbar width */
#tablecontainer::-webkit-scrollbar {
  width: 12px;
}

/* Scrollbar background colour */
#tablecontainer::-webkit-scrollbar-track {
  background: rgba(211, 211, 211, 1);
}

/* Scroller thumb colour and shape, border makes it look spaced from the sides */
#tablecontainer::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid rgba(211, 211, 211, 1);
}

.photo {
  margin: 0;
  padding: 0;
}

.photo img {
  margin: 0;
  padding: 0;
}

table.sortable thead tr {
  background-color: rgb(000, 32, 96);
  color: #ffffff;
  text-align: center;
}

thead {
  position: sticky;
  top: 0;
}

table.sortable th,
td {
  padding: 12px 15px;
  max-height: 40px;
}


table.sortable tbody tr {
  border-bottom: 1px solid #dddddd;
}

table.sortable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table.sortable tbody tr:last-of-type {
  border-bottom: 2px solid rgb(000, 32, 96);
}

.sortable th {
  cursor: pointer;
}

.sortable th.no-sort {
  pointer-events: none;
}

.sortable th.dir-d::after {
  content: "▾";
}

.sortable th.dir-u::after {
  content: "▴";
}

.sortable th.indicator-left::after {
  content: "";
}

.sortable th.indicator-left::before {
  margin-right: 3px;
  content: "▸";
}

.sortable th.indicator-left.dir-d::before {
  content: "▾";
}

.sortable th.indicator-left.dir-u::before {
  content: "▴";
}

select {
  margin-top: 1rem;
}

.searchBarContainer {
  width: 802px;
  box-sizing: border-box;
  position: relative;
  margin: auto;
}

.searchBar {
  width: 802px;
  height: 51px;
  box-sizing: border-box;
  position: relative;
  top: 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.searchBarInput {
  position: absolute;
  width: 701px;
  height: 51px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-sizing: border-box;
  padding: 0 8px;
  font-size: 30px;
  outline: none;

}

.iconSearchContainer {
  background: #c0c2c0;
  position: absolute;
  width: 101px;
  height: 51px;
  box-sizing: border-box;
  left: 701px;
  border: none;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

}

.iconSearchContainer:hover {
  background: black;
  color: white;
  cursor: pointer;

}

#searchIconStyle {
  width: 30%;
  border: none;
}



.iconSearchContainer:hover #searchIconStyle {
  fill: white;
}

.playerSearch-Section {
  position: relative;

}

.player-results-card{
  display: flex;
  position: relative;
  justify-content: center;

  /* font-size: 25;
  font-weight: bold;
  cursor: move; */

  
}

.liEls {
  width: 70%;
  height: 150px;
  display: flex;
  border-radius: inherit;
  cursor: pointer;
}

.liEls:hover {
  background: rgba(207,208,209,0.3);
}

.liEls img {
  margin-left: 10px;
  border-radius: 50%;
  width: 150px;
  height: 100%;
}

.HeaderBox{
    width: 50%;
    display: flex;
    align-content: left;
    justify-content: left;
    flex-direction: column;
    list-style: none;
    text-align: center;
    padding: 15px;
    border-left-style: solid;
    border-left-color: #009879;
}

.playerName {
  margin: 0;
  font-size: 25px
}

.playerTeam {
  font-size: 20px;
  margin-top: auto;
  font-weight: 600;

}

.statistics{
    width: 50%;
    display: flex;
    justify-content: space-between;
    /* flex-flow: column, wrap; */
    flex-direction: row;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-left-style: solid;
    border-left-color: #009879;
}
  
.matchesPlayed{
  bottom: 10px;
}

.matchesPlayed > p {
  position: relative;
  text-align: center;
  /* bottom: 20px; */
  font-size: large;
  margin-top: 30px;
}

.matchesPlayed > h5 {
  font-size: large;
}

.playerAge{
  bottom: 10px;
}

.playerAge > p {
  position: relative;
  text-align: center;
  /* bottom: 20px; */
  font-size: large;
  margin-top: 30px;
}
.playerAge > h5 {
  font-size: large;
}

.playerPosition{
  bottom: 10px;
}

.playerPosition > p {
  position: relative;
  text-align: center;
  /* bottom: 20px; */
  font-size: large;
  margin-top: 30px;
}

.playerPosition > h5 {
  font-size: large;
}

.fadeout {
    display: block;
    position: absolute;
    cursor: pointer;
    box-sizing: border;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 50px;
    background: -webkit-linear-gradient(rgba(237,239,240,0) 42px, #ffffff 48px);
    transition: background 150ms ease-in;
  }
  
.rating {
    margin: 0;
    font-size: 13px;
    height: 15px;
  }

.hideResults {
  display: none;
}

.Player {
  margin: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Ranking {
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;

}

.backgroundImage {
  position: relative;
  width: 100%;
  padding: 0;
  height: 350px;
}

.backgroundOverlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background-color: rgba(000, 000, 000, 0.4);
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.pageHeaderBox {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 30%;
  margin: auto;
  height: 30%;
  background-color: rgba(000, 32, 96, 0.7);
  padding-top: 1rem;
  z-index: 2;
  vertical-align: middle;
}

.pageHeaderBox h1 {
  font-size: 3rem;
  color: white;
}

.backgroundCover {
  width: 100%;
  padding: 0;
  height: 350px;
  background-color: black;
  opacity: 0.5;
}

.rankingImage {
  width: 100%;
  height: 800px;
}

.rankingMain {
  position: relative;
  width: 100%;
}

.componentTabSection {
  position: relative;
  /* display: flex; */
  width: 80%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;

}

.PlayerCompareSection {
  position: relative;
  margin-top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.PlayerCardSection {
  display: flex;
  flex-direction: row;
  border-top: solid;
  border-top-width: 2px;
  width: 100%;
  height: 100%;
}

.CardSection1{
  display: flex;
  width: 50%;
  /* border-left: solid;
  border-left-width: 2px; */
  background-color: #c0c2c0;
  padding-bottom: 25%;
  padding-top: 25%;
  /* justify-content: center; */

}

.CardSection1:hover{
  background-color: #cccccc;
  cursor: pointer;
}

.CardSection1WithBasket{
  display: flex;
  width: 50%;
  background-color: #ffffff;
  border-right-style: solid;
  border-right-color: #ffffff;
  margin-right: 10px;
}

.CardSection1WithBasket:hover{
  background-color: #cccccc;
  cursor: pointer;
  
}

.CardSection2{
  display: flex;
  width: 50%;
  /* border-left: solid;
  border-left-width: 2px; */
  background-color: #c0c2c0;
  padding-bottom: 50%;
  border-left-color: #ffffff;
  border-left-style: solid;
  padding-bottom: 25%;
  padding-top: 25%;
  justify-content: center;
}

.CardSection2:hover{
  background-color: #cccccc;
  cursor: pointer;
}

.CardSection2WithBasket{
  display: flex;
  width: 50%;
  background-color: #ffffff;
  height: 700px;
  border-left-style: solid;
  border-left-color: #ffffff;
  margin-left: 10px;
}

.CardSection2WithBasket:hover{
  background-color: #cccccc;
  cursor: pointer;
}

.basket1 {
  position: absolute;
  width: 100%;

}

.basket1>p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  text-align: center;
}

.basket2 {
  position: relative;
  width: 100%;

}

.basket2>p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  text-align: center;
}

.PlayerCard {
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border-style: solid;
  border-color: #ebebeb;

}

.PlayerHeader{
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  width: 100%;
  height: 35%;
  border-bottom-style: solid;
  border-color: #ebebeb;
}

.PlayerImgContainer{
  width: 30%;
  padding: 2px;
  display: flex;
  /* border-bottom-style: solid; */
  border-right-style: solid;
  border-right-width: 5px ;
  border-color: #ebebeb;
  /* border-radius: 5px; */
}

.PlayerImg{
  width: 100%;
  border-radius: 25px;
  /* border-radius: 50%; */
}

.PlayerInformation{
  display: flex;
  position: relative;
  padding: 2px;
  flex-direction: column;
  margin-left: 15px;
  justify-content: space-between;
}

.PlayerCardNameInformation{
  display: inline-block;
  justify-content: left;
  /* justify-content: space-around; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  padding: 2px;
}

.PlayerCardTeamInformation{
  display: inline-flex;
  float: left;
  flex-wrap: nowrap;
  justify-content: start;
  white-space: normal;
  /* justify-content: space-around; */
  margin-top: 5px;
}

#PlayerCardInfoH1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin: 0;
  margin-right: 5px;
}

.PlayerCardTeamInformation > p {
  font-family:'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: large;
}

.PlayerCardAgeInformation{
  display: inline-flex;
  float: left;
  flex-wrap: nowrap;
  justify-content: start;
  white-space: normal;
  margin-top: 5px;
}

.PlayerCardAgeInformation > p {
  font-family:'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: large;
}

.PlayerCardMatchesInformation{
  display: inline-flex;
  float: left;
  flex-wrap: nowrap;
  justify-content: start;
  white-space: normal;
  margin-top: 5px;

}

.PlayerCardMatchesInformation > p {
  font-family:'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: large;
}

.PlayerCardPositionInformation{
  display: inline-flex;
  float: left;
  flex-wrap: nowrap;
  justify-content: start;
  white-space: normal;
  margin-top: 5px;

}

.PlayerCardPositionInformation > p {
  font-family:'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: large;
}

.PlayerStatistics {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 65%;
  width: 100%; 
  margin-top: 5px;
}

.Doughnuts{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
  justify-content: space-evenly;
}

.DoughnutHide {
  display: none;
}

.Doughnut1{
  width: 33%;
  height: 100%;
}

.Doughnut2{
  width: 33%;
  height: 100%;
}

.Doughnut3{
  width: 33%;
  height: 100%;
}

/* .DoughnutRating{
  position: relative;
 display: flex;
 justify-content: center;
  width: 100%;
  height: 50%;
} */

.Rating{
  position: relative;
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  margin-top: 70px;
  font-size: 60px;
}

.Rating:hover {
  /* text-decoration: underline solid Currentcolor; */
}

.animNumber{
  /* -webkit-animation: fadein 10s;
  -moz-animation: fadein 10s; 
   -ms-animation: fadein 10s; 
    -o-animation: fadein 10s;
       animation: fadein 10s; */
  text-decoration: underline solid Currentcolor;
  transition: text-decoration 3s ease;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}