#footer{
    background-color: rgb(000, 32, 96);
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    
}/**/
/**footer{
    background-color: rgb(000, 32, 96);
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100vw;
}*/
h2{
    color: white;
}

  