table {
    border-collapse: collapse;
    width: 100%;
  }
  table th, table td {
    padding: 8px;
  }
   table th{
    background-color: #FFA500;
    color: black;
  }

  tr{
  height: 1rem;
  }
  
  #homeStats tr:nth-child(1){
background-color: #90EE90;
  }
    
   #homeStats tr:nth-child(2){
    background-color: #87CEEB;
      }
       #homeStats tr:nth-child(3){
        background-color: rgb(216,191,216);
          }

          
                
          
          
  